<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car Dealer</title>
</head>
<body>
<h1>All Cars</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Travelled Distance</th>
            </tr>
        </thead>
        <tbody>
            <tr align="center" th:each="car : ${cars}">
                <td th:text="${car.make}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.travelledDistance}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>