<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Dealer</title>
</head>
<body>
<h1 align="center">Welcome to Car Dealer!</h1>
<table style="width:100%">
    <tr>
        <th>
            <h4><a href="/customers/all/ascending">Customers</a></h4>
        </th>
        <th>
            <h4><a href="/sales">All Sales</a></h4>
        </th>
        <th>
            <h4><a href="/cars/all">All Cars</a></h4>
        </th>
    </tr>
    <tr>
        <td>
        </td>
        <td align="center">
            <h4><a href="/sales/discounted">Discounted Sales</a></h4>
        </td>
        <td>
        </td>
    </tr>
</table>
</body>
</html>